---
permalink: /404.html
title: 4 oh 4!
---
<!doctype html>
<html class="no-js" lang="en">
{% include "head.njk" %}
<body class="font-body bg-space text-clay flex flex-col items-center justify-center min-h-screen">
    <div class="w-96 text-white max-w-full text-center">
        <img src="/files/404stronaut.svg" alt="An astronaut in space">
        <div class="p-5">
        <h1 class="text-5xl font-heading my-2">Uh Oh</h1>
        <p>Looks like you might be lost!</p>
        </div>
    </div>
    {% include "nav.njk" %}
</body>
{% include "foot.njk" %}
</html>

