---
layout: base.njk
title: New Coyote Consulting
---
<body class="flex flex-col justify-center items-center min-h-screen bg-gradient-to-b from-orange-lighter to-teal-lighter">
<div class="transform -skew-y-12 font-heading home-heading flex flex-col items-center">
    <span class="text-teal">New</span>
    <ul class="flex justify-center items-center  z-10 relative">
        {% for item in collections.all | eleventyNavigation %}
        <li class="mt-2 md:mt-0 mx-2 pb-1 px-1 font-heading text-base md:text-lg text-yellow-900  transform skew-x-3">
            <a href="{{ item.url }}">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    <span class="text-orange">Coyote</span>
</div>
</body>
