---
layout: columns.njk
---
{{ page | log }}
<div class="py-6 px-10 -mt-36 -mb-36 md:min-h-page-content">
    {% if image %}
        {% import "macros/image.njk" as image_tools %}
        {{ image_tools.image(image, class="w-full", width=300, srcset=[768, 1536], sizes="(min-width: 768px) 300px, 100vw", loading="eager") }}
    {% endif %}
    {{ content | safe }}
</div>

{% if state.preview %}
    <!-- {{ content }} -->
{% endif %}
