    <form action="https://marinaforhire.us7.list-manage.com/subscribe/post?u=08d9c04fab21756309c2c31e8&amp;id=d1918a76e9&amp;f_id=00e0c3e4f0"
            method="post" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div class="flex flex-col md:flex-row items-center md:items-end justify-center">
            <label class="block sm:col-span-1"><span class="block pb-1 pl-2 font-heading transform -skew-y-3 -mb-2">Email</span>
                <input type="email" value="" name="EMAIL" class="w-full border-0 rounded-md focus:ring focus:ring-teal focus:ring-opacity-50 bg-clay-lightest bg-opacity-50" required id="mce-EMAIL" autofocus>
            </label>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div class="sm:col-span-2 text-right mt-2">
                <button type="submit"
                        class="inline-flex items-center py-2 rounded-md px-10 bg-gold focus:ring focus:ring-gold focus:ring-opacity-40 font-heading bg-teal text-clay-lightest md:ml-2">
                    <span class="pr-2">Sign Up</span> 📬
                </button>
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_08d9c04fab21756309c2c31e8_d1918a76e9" tabindex="-1" value=""></div>
        </div>
    </form>
</dialog>
