<dialog class="bg-white p-4 fixed bottom-4 right-4 mr-0 z-50 max-w-full rounded-md border-2 border-clay" data-newsletter-popup>
    <header class="flex justify-between">
        <span class="text-lg">Sign up for newsletter</span>
        <button data-newsletter-popup-close>X</button>
    </header>
    {% include "partials/newsletter-signup.njk" %}
</dialog>
