---
title: New Coyote
description: "Consulting"
---
<!doctype html>
<html class="no-js" lang="en">
{% include "head.njk" %}
<body class="bg-lavender flex flex-col justify-center items-center p-10 min-h-screen font-body">
<h1 class="mb-16 text-homeHeading font-heading text-gold">{{ title }}</h1>
{{ content | safe }}
</body>
{% include "foot.njk" %}
</html>
