<div class="{{ block.template }} my-12 prose">
    <figure class="{% if block.flip %} sm:float-right sm:ml-4 {%- else -%} sm:float-left sm:mr-4 {%- endif %} mb-4 w-full sm:w-1/2">
      {% cl_img { path: block.image, size: 684, sizes: '(min-width: 768px) 342px, (min-width: 640px) 50vw, 100vw', srcset: [342, 684, 1026, 684, 1368], alt: block.alt_text, css: "max-w-full rounded-lg w-full", attrs: [['loading', 'lazy']] } %}
    </figure>
    {{ block.content | md | safe }}
</div>
