<div class="{{ block.template }} flex flex-col-reverse {% if block.flip -%} sm:flex-row {%- else -%} sm:flex-row-reverse {%- endif %} items-start my-12">
    <div class="w-full sm:w-1/2 sm:pl-4 prose">
        {{ block.content | md | safe }}
    </div>
    <img src="{{ block.image | cl_url([{ width: 684, height: 600, crop: 'fill', gravity: 'face' }]) }}" alt="{{ block.alt_text }}" class="max-w-full rounded-lg w-full sm:w-1/2">
</div>
