.home-heading {
    font-size: theme('fontSize.5xl');
    line-height: 0.9;
}

@screen md {
    .home-heading {
        font-size: 20vw;
        top: -5vw;
        position: relative;
    }

    .home-heading ul {
        position: relative;
        top: 0.2em;
    }
}

@screen xl {
    .home-heading {
        font-size: 16rem;
        top: -4rem;
    }
}
