<!doctype html>
<html class="no-js" lang="en">
{% include "head.njk" %}
<body class="font-body bg-clay-lightest">
<nav>
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>
<main>
    {{ content | safe }}
</main>
</body>
{% include "foot.njk" %}
</html>
