---
layout: columns.njk
---

<div class="py-6 px-10 -mt-36 -mb-36 md:min-h-page-content">
    {% for block in blocks %}
    {% if block.template == 'block-text' %}
    <div class="{{ block.template }} prose prose-sm md:prose-lg">
        {% if block.heading %}
        <h3>{{ block.heading }}</h3>
        {% endif %}
        <div>
            {{ block.content | md | safe }}
        </div>
    </div>
    {% elseif block.template == 'block-image' %}
    <img src="{{ block.image | cl_url([{ width: 684 }]) }}" alt="{{ block.alt_text }}" class="max-w-full h-auto rounded-lg my-12">
    {% elseif block.template == 'block-decoration' %}
    <div class="{{ block.template }} w-full my-16">
        <img src="/files/kicker-{{ block.image }}.svg" alt="" class="w-4/5 mx-auto">
    </div>
    {% elseif block.template == 'block-callout' %}
    <div class="{{ block.template }} text-center p-16 my-12 pt-8 bg-teal-lighter relative rounded-lg">
        {% if block.heading %}
        <div class="prose prose-sm md:prose-lg">
            <h3>{{ block.heading }}</h3>
        </div>
        {% endif %}
        {% if block.content %}
        <div class="my-6 text-xl prose-sm prose md:prose-lg">{{ block.content | md | safe }}</div>
        {% endif %}
        {% if block.link_url %}
        <a href="{{ block.link_url }}" class="mt-6 inline-block transform -skew-y-6 font-bold text-lg text-yellow-900">{{
            block.link_text or 'Learn More' }}</a>
        {% endif %}
    </div>
    {% endif %}
    {% endfor %}
</div>

